.flexContenier {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  gap: 5;
}

.aboutMe {
  display: "flex";
  justify-content: "center";
  gap: 20;
  flex-wrap: "wrap";
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 40rem) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: 34rem;
  padding-left: 28rem;
  padding-right: 28rem;

  @media (max-width: 40rem) {
    height: 54rem;
    padding-left: 18rem;
    padding-right: 18rem;
    flex: 1;
  }
}

.links {
  color: var(--mantine-color-blue-4);
  text-decoration: "none";
  display: "inline-block";

  &:hover {
    text-decoration: "underline";
  }
}

.pictureDad {
  width: 250rem;
}

.picture {
  width: "100%";
  border: double 0.7rem var(--mantine-color-gray-3);
  border-radius: px(6);
}

.buttonIcon {
  margin-left: 6px;
}

.contactButton {
  display: "flex";
  justify-content: "center";
  text-decoration: "none";
  align-items: "center";
}

.briefDeveloper {
  flex: "0 1 25rem";
}

.description {
  color: var(--mantine-white-0);
}
