.flexTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17rem;
}

.line {
  height: 3rem;
  /* flex:  1 1 40rem; */
  background-color: light-dark(var(--mantine-white-0), var(--mantine-dark-6));
}

@media (max-width: 40rem) {
  .line {
    width: rem(50);
  }
}
