.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(var(--mantine-white-0), var(--mantine-dark-6));
}

.inner {
  position: relative;
  padding-top: 20rem;
  padding-bottom: 100rem;

  @media (max-width: 40rem) {
    padding-bottom: 80rem;
    padding-top: 80rem;
  }
}

.spanTitle {
  font-weight: 600;
  display: inline-block;
  font-style: italic;
  color: var(--mantine-color-gray-6);
  font-size: var(--mantine-spacing-xl);
}

.title {
  font-family: Greycliff CF, var(--mantine-font-family);
  font-size: 52rem;
  font-weight: 900;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  color: light-dark(var(--mantine-white-0), var(--mantine-dark-6));

  @media (max-width: 40rem) {
    font-size: 42rem;
    line-height: 1.2;
  }
}

.links {
  color: var(--mantine-blue-0);
  text-decoration: none;
  display: inline-block;
}
.link:hover {
  text-decoration: underline;
}

.description {
  margin-top: var(--mantine-spacing-xl);
  font-size: 24rem;

  @media (max-width: 40rem) {
    fontsize: 18rem;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 40rem) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.buttonIcon {
  margin-left: 6px;
}

.control {
  height: 54rem;
  padding-left: 38rem;
  padding-right: 38rem;

  @media (max-width: 40rem) {
    height: 54rem;
    padding-left: 18rem;
    padding-right: 18rem;
    flex: 1;
  }
}
