.description {
  width: 750rem;
  margin: "0 auto";
  white-space: "normal";
}

.links {
  color: var(--mantine-color-blue-4);
  text-decoration: "none";
  display: "inline-block";
}
.link:hover {
  text-decoration: "underline";
}
