.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  width: 470rem;
  white-space: normal;

  @media (max-width: 40rem) {
    width: 100%;
  }
}
.date {
  display: flex;
  align-items: center;
  gap: rem(5);
}
.links {
  color: var(--mantine-color-blue-4);
  text-decoration: none;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}
