.upIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--mantine-color-blue-3);
  cursor: pointer;
  padding: var(--mantine-spacing-xs);
  border: none;
  outline: none;
  border-radius: var(--mantine-spacing-sm);
  color: var(--mantine-white-0);
  position: fixed;
  left: 4rem;
  bottom: 6rem;
  z-index: 1000;
}
