.icons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
}

.icon {
  display: flex;
  flex: 0 1 8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem 5px;
  border-radius: var(--mantine-spacing-xs);
  background-color: light-dark(
    var(--mantine-white-0),
    var(--mantine-color-dark-5)
  );
  &:hover {
    cursor: pointer;
    box-shadow: 0 6px 14px 1px rgb(0 0 0 / 20%);
  }
}

.flexLenged {
  width: 230rem;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
